body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    background-color: #fff7f0;
    color: #222;
}
.header{
    background-color: #ff9aa2;
    color: white;
}
.header_container{
    padding: 12px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:  space-between;
}
.logo a img{
    width: 100px;
    height: 100px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.hero{
    padding: 60px 20px;
    text-align: center;
    background-image: url("https://cdn-prod.scalefast.com/public/assets/user/10751401/image/15d488f366cfe064f6b3bcc3c93de85e.png");
    background-position: center;
    color: white;
    font-size: 20px;
}
.cta{
    background-color: #ffd93d;
    border-radius: 10px;
    padding: 12px 20px;
    color: #222;
}
.About{
    padding: 60px 20px;
    text-align: center;
    background-color: #4d96ff;
    color: #222;
}
.container{
    display: flex;
   flex-direction: column;
   align-items: center;
}
.About_image img{
    width: 320px;
    height: 200px;
}